<div class="container">
  <div class="row">
    <div class="col-xs-3">

<h2 class="pl-3">User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
 <table class="table">
    <tr>
      <th>name</th><td><%= @user.name %></td>
    </tr>
    <tr>
      <th>introduction</th><td><%= @user.introduction %></td>
    </tr>
      <th>follows</th><td><%= link_to @user.follower.count, index_follow_path(@user.id) %></td>
    <tr>
    </tr>
      <th>followers</th><td><%= link_to @user.followed.count, index_follower_path(@user.id) %></td>
    <tr>
    </tr>
  </table>

  <button type="button" class="btn btn-default mt-3 btn-block">
    <%= link_to "", edit_user_path(@user), class: "glyphicon glyphicon-wrench" %>
  </button>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <h3><%= pluralize(@book.errors.count, "error") %> :</h3>
    <% @book.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  <% end %>
  <label for="book_title">Title</label>
  <%= f.text_field :title, class: "btn-block" %>
  <h6 class="pt-2">Opinion</h6>
  <%= f.text_area :body, class: "btn-block" %><br>
  <%= f.submit 'Create Book', class: "btn btn-primary btn-block" %>
<% end %>

      </div>

      <div class="col-xs-9">

<h2>Users</h2>
<table class="table">
<thead>
<tr>
  <th>image</th><th>name</th><th></th>
</tr>
</thead>
<% @users.each do |user| %>
<tr>
  <td>
  	<%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "40x40" %>
  </td>
  <td><%= user.name %></td>
  <td>フォロー数：<%= user.follower.count %></td>
  <td>フォロワー数：<%= user.followed.count %></td>
  <td>
    <% unless user == current_user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォロー外す", unfollow_path(user.id), method: :post %>
      <% else %>
        <%= link_to "フォローする", follow_path(user.id), method: :post %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to "Show", user_path(user) %></td>
</tr>
<% end %>

</table>

    </div>

  </div>
</div>